nav {
  height: 100px;
  position: -webkit-fixed;
  position: fixed;
  /* background-image: url("../images/bg1.jpg"); */
  background: rgb(87, 168, 222);

  z-index: 99;
  width: 100%;
  top: 0;
  color: #000;

  /* -webkit-box-shadow: 1px 7px 66px 39px rgba(201, 201, 201, 1); */
  /* -moz-box-shadow: 1px 7px 66px 39px rgba(201, 201, 201, 1); */
  /* box-shadow: 1px 7px 66px 39px rgba(201, 201, 201, 1); */

}
nav > a {
  color: #000 !important;
}

.img-logo {
  width: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
}
/* mobile menu */
.navbar-url-mobile {
  display: inline;
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  z-index: 10;
  width: 400px;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.nav-href {
  color: #000 !important ;
}

.nav-href:hover {
  color: #08205e !important ;
  text-decoration: none;
  transition: 0.4s;
}

.fwb {
  font-weight: bold;
}

.box-btn-mobile {
  width: 150px;
  text-align: center;
}

.box-button {
  border: 1px solid #08205e;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 7px 15px;
}
.box-btn-box-btn-mobile-special {
  width: 150px;
  margin: 0 auto;
}
.w-navbar {
  margin: 0 auto;
  padding: 10px 0;
  width: 150px;
}

/* desktop menu */

.box-btn-dk {
  width: 120px;
  text-align: center;
}

.transition {
  transition: all 0.6s;
}

.h-0 {
  height: 0;
}
