body {
  background: #fff;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: 16px;
}
img {
  width: 100%;
  height: 100%;
}

.bg-radian {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#071021),
    color-stop(39.58%, #101a24),
    color-stop(64.06%, #1b0c29),
    color-stop(98.96%, #000)
  );
  background-image: -webkit-linear-gradient(
    #071021,
    #101a24 39.58%,
    #1b0c29 64.06%,
    #000 98.96%
  );
  background-image: -o-linear-gradient(
    #071021 0,
    #101a24 39.58%,
    #1b0c29 64.06%,
    #000 98.96%
  );
  background-image: linear-gradient(
    #071021,
    #101a24 39.58%,
    #1b0c29 64.06%,
    #000 98.96%
  );
}
.cl-root {
  color: #327ccb;
}

.bg-root {
  background: #327ccb !important;
}
.bg-blue {
  background: #08205e;
  font-family: Rubik;
}
.bg-none {
  background: none;
}

.btn-hover:hover {
  background: red !important;
}

/* hover text */

.hover-text:hover {
  color: yellow !important;
  cursor: pointer;
}

.hover-social:hover {
  background: #327ccb;
}

.hover-social:hover > a > i {
  color: #fff;
}
